body
{
    background-color: powderblue;
}
hr
{
    background-color: rgb(255, 255, 255);
    border-style:none;
    border-top-style:dotted;
    border-color: grey;
    border-width: 2px;
    height: 0px;
    width: 50%;
}
h1
{
    color:#66bf66;
}
h3
{
    color:#66BFBF;
}
